header {
    margin: 0;
    position: fixed;
    width: 99%;
    top: 10px;
    z-index: 5;
}

.header__inner {
    min-width: 800px;
    width: 1200px;
    margin: 0 aouto;
    height: 60px;
    margin: 10px auto;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.header_navigation {
    width: 400px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.header_contacts {
    display: flex;
    gap: 10px;
}

.header_user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_user_link {
    height: 30px;
    display: flex;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
}

.header_user_link:hover {
    cursor: pointer;
}

.active {
    color: white;
    background-color: orange;
    fill: orange;
}

