.basket {
    margin: 90px auto;
    height: 600px;
    width: 400px;
    transform: translate(103%, 0);
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

.basket_checkout {
    width: 600px;
    transform: none;
    background: none;
}

.basket_header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.basket_header h1 {
    margin: 0;
    font-size: 30px;
}

.basket_header button{
    width: 35px;
    height: 35px;
    border: none;
    font-size: 30px;
    border-radius: 5px;
}

.basket_block {
    width: 100%;
    height: 460px;
    overflow-y: auto;
}

.basket_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.basket_block_product {
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 10px;    
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.basket_block_product img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.basket_block_product h1 {
    font-size: 14px;
    width: 80px;
    overflow: hidden;
    margin: 0;
}

.basket_block_product div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.basket_price {
    bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.basket_btn {
    border: none;
    background-color: #ffffff;
    height: 30px;
    padding: 3px 8px;
    font-size: 20px;
    border-radius: 5px;
}

.basket_bottom {
    width: 100%;
    text-align: center;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}

.basket_btn_get {
    padding: 10px 60px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #1dec1dcb;
    border-radius: 15px;
    border: none;
    color: white;
}

.white {
    background-color: white;
}