.user {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.user_nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_nav img {
    width: 40px;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
}

.user_nav a {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    border-radius: 15px;
}

.user_status {
    width: 250px;
    padding: 10px;
    background-color: white;
    display: flex;
    gap: 10px;
    border-radius: 15px;
}

.user_status h3 {
    margin: 0;
}

.user_status p {
    margin: 0;
    color: gray;
}

.user_status span {
    font-weight: 500;
}

.user_children {
    width: 950px;
}

.user_active {
    background-color: orange;
}
