.user_favorite {
    display: flex;
    gap: 10px;
    width: 920px;
    align-items: center;
    border-radius: 15px;
    flex-wrap: wrap;
}

.user_favorite_empty {
    width: 920px;
    height: 350px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.user_favorite_empty img {
    height: 200px;
    padding: 0 100px;
    background-color: white;
}

