body {
    background-color: #ebebeb;  
}

section {
    margin: 0 auto;
    width: 1200px;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}


a:hover {
    cursor: pointer;
}

.page_name {
    font-size: 60px;
}

@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/');
    font-weight: 300;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;


}

