footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.footer_logo img {
    width: 200px;
}

.footer_pages {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer p {
    margin: 0;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_timework {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

